* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
body {
  height: 100vh;
  background-color: #000000;
  background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80');
  background-position: center;
  background-size: cover;
}
nav {
  width: 100%;
  position: relative;
}
.nav {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
li{
  list-style: none;
}
.nav ul li {
  padding: 15px;
  float: left;
}
a {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
}
.nav > a {
  padding: 15px;
  font-size: 1.5rem;
  text-decoration: bold;
}
.toggle {
  display: none;
  color: #ffffff;
  padding: 15px;
}
.dropdown {
  position: absolute;
  top: 60px;
  right: 10px;
  left: 10px;
  display: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  padding-top: 0;
}
.nav.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dropdown.open {
  display: block;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media only screen and (max-width: 720px) {
  .nav ul {
    display: none;
  }
  .toggle {
    display: block;
  }
}