* {
	color: #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}
.icon {
	display: none;
}
.mobile {
	display: none;
}
html {
	scroll-padding-top: calc(5vh + 40px);
	width: 100%;
    height: 100%;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
html::-webkit-scrollbar {
	display: none;
}
body {
	overflow-y: auto;
	background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
header {
	position: fixed;
	top: 0;
	border-radius: 20px;
	margin: 10px;
	padding: 0;
	height: calc(5vh + 20px);
	width: calc(100% - 20px);
	background-color: rgba(0, 0, 0, 0.15);
    	backdrop-filter: blur(5px);
    	-webkit-backdrop-filter: blur(5px);
	z-index: 99;
}
nav {
	width: 100%;
	height: 100%;
}
nav > ul {
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}
nav > ul > :first-child {
	float: left;
}
nav > ul > :not(:first-child) {
	float: right;
}
nav > ul > li {
	height: 100%;
	width: calc(20vh + 20px);
	
}
nav > ul > li > a {
	padding: 10px;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav > ul > li > a > p {
	margin: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	white-space: nowrap;
}
main {
	margin-top: calc(5vh + 40px);
}
main > section {
	margin: 10px;
	width: calc(100% - 20px);
	background-color: rgba(0, 0, 0, 0.15);
   	 backdrop-filter: blur(5px);
    	-webkit-backdrop-filter: blur(5px);
	border-radius: 20px;
}
#home {
	height: calc(100vh - 5vh - 50px);
	display: grid;
	grid-template-columns: calc(100vw - 20px);
	padding-top: calc(calc(100vh - 5vh - 50px) / 2 - 35vh);
	padding-bottom: calc(calc(100vh - 5vh - 50px) / 2 - 35vh);
}
#home > span {
	white-space: break-spaces;
	font-size: 20vh;
}
#home > span:first-child {
	display: block;
	font-size: 15vh;
	text-align: center;
	height: 15vh;
}
#home > span:last-child {
	display: block;
	font-size: 20vh;
	text-align: center;
	height: 20vh;
}
#about{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40vh;
}
#about > * {
	margin: 0;
	padding: 0;
}
#about > h1 {
	font-size: 10vh;
	margin-right: 3vw;
}
#about > p {
	width: 15vw;
}
#projects {
	backdrop-filter: blur(0);
 -webkit-backdrop-filter: blur(0);
	background: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 30vh 30vh 10vh;
	gap: 10px;
}
#projects > a {
	width: 100%;
	height: 100%;
	text-decoration: none;
}
#projects > a > div {
	background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	border-radius: 20px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects > a > div > * {
	margin: 0;
}
#projects > a > div > h1 {
	text-align: center;
}
#projects > a > div > p {
	margin-top: 3vh;
	width: 20vw;
}
#projects > :last-child {
	grid-column: 1 / span 2;
}
#projects > a > :last-child {
	background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	border-radius: 20px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 1;
}
#contact {
	height: 25vh;
	width: calc(100% - 60px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
}
.icon > a {
	justify-content: right;
}
.icon > a > i {
	padding-right: 30px;
}
#sonstiges {
	backdrop-filter: blur(0);
 -webkit-backdrop-filter: blur(0);
	background: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 30vh 30vh;
	gap: 10px;
}
#sonstiges > a {
	width: 100%;
	height: 100%;
	text-decoration: none;
}
#sonstiges > a > div {
	background-color: rgba(0, 0, 0, 0.15);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	border-radius: 20px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#sonstiges > a > div > * {
	margin: 0;
}
#sonstiges > a > div > h1 {
	text-align: center;
}
@media screen and (max-width: 600px) {
	#home {
		display: grid;
		grid-template-columns: calc(100vw - 20px);
		padding-top: calc(calc(100vh - 5vh - 50px) / 2 - 10vh);
		padding-bottom: calc(calc(100vh - 5vh - 50px) / 2 - 10vh);
		height: 20vh;
	}
	#home > span:first-child {
		display: block;
		font-size: 5vh;
		text-align: center;
		height: 5vh;
	}
	#home > span:last-child {
		display: block;
		font-size: 7vh;
		text-align: center;
		height: 7vh;
	}
	.mobile {
		display: block;
	}
	.out > body > header > nav > ul > li {
		float: none;
	    	display: block;
    		text-align: left;
		height: 25%;
		width: 10vh;
	}
	:not(.out) > body > header > nav > ul > *:not(:first-child):not(.icon) {display: none;}
	.icon {
	  	float: right;
	  	display: block;
	}
	.out > body > header > nav > ul > .icon {
		position: absolute;
		right: 0;
		top: 20px;
	}
	.out > body > header > nav > ul {
		height: calc(100% - 40px);
		padding: 20px;
	}
	.out > body > header {
		height: calc(20vh + 20px);
	}
	.out {
		scroll-padding-top: calc(25vh + 40px) !important;
	}
	.out > body > main {
		margin-top: calc(25vh + 40px);
	}
	#about {
		display: grid;
		grid-template-columns: calc(100vw - 20px);
	}
	#about > * {
		text-align: center;
		padding: 0;
		width: 100% !important;
	}
	#projects > a > div > p {
		font-size: 1.5vh;
		width: 35vw;
	}
}
