body {
    margin: 0;
    overflow: hidden; /* Verhindert Scrollbalken */
}

#spielfeld {
    background-color: #eee; /* Hintergrundfarbe */
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
}