body {
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #00ffff;
}
.left {
    width: 30%;
    float: left;
    height: 100%;
    flex: 1;
}
.left > div {
    height: 50%;
    overflow:scroll;
}
.right {
    width: 70%;
    float: left;
    height: 100%;
    flex: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 200px);
    overflow:scroll;
}
.right > div {
    border-radius: 10px;
    overflow:scroll;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
    margin: 10px;
}
